:root {
    --primary-color: #007bff;
    --text-color: #ffffff;
    --accent-color:#8bf48b;
    --bg-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}
#header {
    width:100%;
    height:2rem;
    background-color: var(--accent-color);
    display:flex;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
}

a {
    text-decoration: none;
    padding: 20px;
}

#logo {
    color: var(--bg-color);
    font-weight: 300;
}

#hero {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.options {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
    padding: 30px;
    background: var(--primary-color);
}

#footer {
    text-align: center;
    color: var(--primary-color);
}